{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["off", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "jsx-quotes": "off",
    "react/react-in-jsx-scope": "off",
    "react/forbid-elements": ["off"]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["build/*.js"],
      "rules": {
        "import/no-commonjs": "off"
      }
    }
  ]
}
